<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserLogin Page</title>
</head>
<body>
<form method="post" action="/succesfull/">
    {%csrf_token%}
 <table align="center" border="0">
    <tr>
        <th colspan = "7"> User Login</th>
    </tr>
     <br><br>
    <tr>
        <td>UserName<td>
        <td><input type="text" required name= "sname"></td>

    </tr>
     <br><br>
    <tr>
        <td>password <td>
        <td><input type="password" required name="pass"></td>

    </tr>
     <br><br>
    <tr>
       <th colspan="7"><button type="submit" >Login</button> </th>
    </tr>
 </table>
</form>

</body>
</html>